
@import 'typography';
@import 'colors';
@import 'header';
@import 'home';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

#root{
    max-width: 100%;
}





